body{
	background-image: url(../assets/patron.jpg);
	background-repeat: repeat;
}
main {
	width:1000px;
	min-height:550px;
	background-color:rgba( 225,225,225,.5);
	position:relative;
	margin:auto;
}
header.principal {
	position:relative;
	width:100%;
	height:210px;
	border-bottom: 1px solid black;
	background-color:lightblue;
} 
header.principal div.logo{
	position:relative;
	width:150px;
	height:150px;
	border: 1px solid #000;
	top:24px;
	left:24px;
	background-image: url(../assets/descarga.jpg);
	background-size: 100%;
	background-repeat: 
}
header.principal h1{
	position:absolute;
	top:60px;
	left:200px;
	font-size: 40PX;
}
nav.nav_horizontal{
	border-bottom: 1px solid#000;
	background-color:orange;
}
nav.nav_horizontal ul{
	border: 0px;
	margin: 0px;
	position: relative;
	padding: 0px;

}
nav.nav_horizontal li{
	border: 0px;
	margin: 0px;
	position: relative;
	padding: 0px;
	list-style: none;
	display: inline-block;
	vertical-align: top;
}
nav.nav_horizontal li a{
	position: relative;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color:black;
	font width: bold;
}
nav.nav_horizontal li a:hover{
	background-color: aqua;
	color: #fff;
}
nav.nav_horizontal li a:active{
	background-color:black;
	color:red;
}
#slideshow{
	position: relative;
	background-color: #fff;
	border: 2px dotted #000;
	width: 700px;
	height:250px;
	margin: 20px auto;
}
#slideshow button:hover{
	background-color: aqua;
	color: #fff;
}
#slideshow button{
	background-color: orange;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 50px;
	cursor: pointer;
	position: absolute;
	top: 100px
}
button.prev{
	left: -25px;

}
button.next{
	right: -25px;
}
.col{
	display: inline-block;
	vertical-align: top;
	border: 1px solid #000;
	width: 325px;
	min-height: 200px;
	background-color: rgba( 225,225,225,.9);
	border-top: 2px solid rgb(58,68,61);
	
}
.col header{
	text-align: center;

}
.col header img:{
	width: 60px;
	height: 60px;
	border: 2px solid rgb(58,68,61);
	margin-top: -30px;
	background-color: #fff;
	border-radius: 50%;
	
}
div.cols{
	position: relative;
	margin-top: 40px
}


div.cols p{
    padding: 20px;
    text-justify: auto;
}

footer.principal{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #666;
    text-align: center;
    border-top: 2px solid #000;
    color: #fff;
}

footer.principal h2{
    border:0px;
    padding:12px 0px;
    margin: 0px;
}

